#head{
    text-align: center;
    background-color: coral;
}

.alert-heading{
    color: darkgray;
}

#text{
    color: darkslateblue;
    font-size: 20px;
}

#main_color{
    padding-left: 45%;
    margin-top: 7%;
    display: inline-block;
    font-size: 80px;

}

.message{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
#body{
    background-color:lightseagreen;
}