.u-section-1 {
  min-height: 1382px;
}

.u-section-1 .u-image-1 {
  width: 395px;
  height: 395px;
  background-image: url("static/images/g865004ef745cb494bf776364184d75494b78d1e525a401b3be2af2261f0f97f6e0676ee6da27998a7373e86382fa46a7303e344d47553df86bf652db15332811_1280.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 185px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-1 {
  height: 317px;
  width: 830px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-map-1 {
  height: 465px;
  margin-top: 56px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 537px);
    margin-left: calc(((100% - 1140px) / 2) + 418px);
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 1140px) / 2) + 155px);
    margin-right: calc(((100% - 1140px) / 2) + 155px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 501px);
    margin-left: calc(((100% - 1140px) / 2) + 454px);
  }

  .u-section-1 .u-form-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 472px);
    margin-left: calc(((100% - 1140px) / 2) + 483px);
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1327px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 440px);
    margin-left: calc(((100% - 1140px) / 2) + 515px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}