{% load static%}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/css_color_index.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body id="body">
        <h1 id ="head">The Color Game</h1>
<div class="message">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">This game will help you to relief your stress and enjoy your time</h4>
            <p id = "text">Here we will show you color names with different font color and you have to speak the font color of the color a loud and as fast as you can.</p>
            <hr>
            <p class="mb-0" id="text">Ex: If the color is Blue with Brown font color then you have to speak Brown</p>
          </div>
</div>
        <h1 id="main_color">Blue</h1>

            
        <script src="{% static 'js/color_script.js' %}"></script>
    </body>
</html>


